.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--primary-color);
  padding: 10px 20px;

}

.main-header nav {
  display: flex;
  align-items: center;
  gap:2rem;
}

 a {
  text-decoration: none;
  color: #fff;
}

.button {
  display: flex;
  justify-content:center;
  align-items:center;
  line-height: 1.8rem;
  border-radius:8px;

}

.button.-btn1{
  padding: 1rem 2.5rem;
  background-color: var(--button2);
  color: var(--primary-color);
}

.button.-btn2{
  padding: 1rem 2rem;
  background-color: var( --blue-2);
  color: var(--white);

}

.button.-btn2 img {
  padding-left: 0.6rem;
}

.button.-btn1:hover{
  box-shadow: inset 0px 0px 10px var(--primary-color);
}
.button.-btn2:hover{
  box-shadow: inset 0px 0px 10px white;
}
.button.-btn3:hover{
  box-shadow: inset 0px 0px 10px #FFE492;
}
.button.-btn3{
  padding: 1rem 2rem;
  background: #FFFFFF;
  border: 1px solid #FFE492;

}

.back_line{
  background-image:url(/assets/img/Element.png);
  background-repeat: no-repeat;
  background-position:right bottom;



}