/*main-banner*/

.main-banner {
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: var(--primary-color);
  width: 100%;
  height: 829px;
  left: 0px;
  top: 92px;
  margin:auto;
  background-image:url(../../img/Element2.png);
  background-repeat: no-repeat;
}

.element {
  display: flex;
  align-items: center;
  justify-content:center;
  max-width: 80vw;
  isolation: isolate;
}


.headline{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  padding: 0px;
  gap: 60px;
  color: var(--white);
  max-width: 50%;
  z-index: 1;
}
.headline.-content {
  color: black;
}
.headline h1{
  font-size:64px;
  weight: 700;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.title {
  font-size:64px;
  weight: 700;
  padding:2rem;
}
.Paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;


  text-align: center;
  letter-spacing: -0.02em;
  padding-inline:18rem;
  color: #FFFFFF;

}
.title.-white {
  font-size:64px;
  weight: 700;
  color: var(--white);
}


/*section class="work-management"*/
.work-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 100%;
  margin:auto;
  gap: 100px;
  background-image:url(../../img/GroupBACK.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 25%;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 60px;
  isolation: isolate;
  width: 80%;
}


.content.-cust {
  background-color: var(--primary-color);
}

.content.-cus {
  background-color: var(--white);
}

/*section class="customise"*/
.customise {
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: var(--primary-color);
  width: 100%;
  height: 38rem;
  padding: 140px;
  text-align:center;
}
.customise.-blue {
  background-color: var(--primary-color);

}
.customise.-white {
  background-color: var(--white);

}
.customise.-column{
  flex-direction: column;
}
.customise.-central {
    flex-direction: column;
    justify-content:space-around;
    background-image:url(../../img/BACKGROUND.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-y: 65%;
}
.customise.-element {
  background-image:url(../../img/Element2.png);
  background-repeat: no-repeat;
  background-position: center;
  gap: 100px;
}
.central {
  display: flex;
  flex-direction: column;
}


.headline.-lets {

  align-self: center;
  justify-content:center;
}



/* imagem*/

.image-container img{
  width: 100%;
  height:100%;
  border-radius: 10px;
}
.image-container.-custom {
  max-width: 92%;
  max-height: 54%;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
  border-radius: 10px;
}
.image-container.-custom img{
  width: 100%;
  height:100%;
  border-radius: 10px;
}

.image-container.-extension {
  max-width: 55%;
  max-height: 44%;
  margin-inline: auto;
  object-position: 0 2rem;
  border-radius: 10px;
}


.pricing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 220px;
  gap: 60px;

}


.pricing .pp{
  
  color: black;
  
}



.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
}
.heading h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
}

.heading p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
}

.price_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 1481px;
  height: 761px;
}

.price_board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 44px;
  gap: 25px;
  width: 472.33px;
  height: 761px;
  background: #043873;
  color: var(--white);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.price_board:hover {
  box-shadow: inset 0px 0px 10px white;
}
.price_board.-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 44px;
  gap: 25px;
  
  width: 472.33px;
  height: 634px;
  color: #212529;
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 10px;
}
.price_board.-price:hover {
  box-shadow: inset 0px 0px 10px #FFE492;
}


.text_block {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;

  width: 384.33px;
  height: 153px;
}

.text_block h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #212529;
}

.text_block h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #212529;
}
.text_block.-branca h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--white);
}
.text_block.-branca h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFE492;
}

.point {
  display: flex;
  align-items: center;
  gap: 19px;
  height: 50px;
}



.wrapper-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}


.testinominal {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}

.testinominal .content {
  gap: 32px;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 40px;
  gap: 60px;

  width: 471.67px;
  height: 498.46px;

  background: var(--white);
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
 
}
.client.-mobile {
  display: none;
}
.client.-blue {
  background: var(--blue-2);
}
.client p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  
  letter-spacing: -0.02em;
  
  color: #212529;
}

.client.-blue p {
  color: var(--white);
}

.client.-blue h1 {
  color: var(--primary-color);
}
.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 40px;
  gap: 32px;

  width: 391.67px;
  height: 223.46px;

  border-bottom: 1px solid #212529;
}

.name-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  padding: 0px;
  gap: 42px;
  
  width: 383px;
  height: 95px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 246px;
  height: 95px;
}

.name h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}




.slide {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px;
  gap: 12px;
  margin-top: 60px;
  width: 60px;
  height: 12px;

}

.elipse{
  width: 12px;
  height: 12px;
}

.freetrial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 220px 32px;
  gap: 200px;

  width: 100%;
  height: 705px;
  background-color: var(--primary-color);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
 
  box-sizing: border-box;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 14px;
  width: 80%;
  
}
.heading p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.02em;
 
  color: #FFFFFF;

}

.text-block .title {
  text-align: center;
  color: var(--white);
}
.appicon {
  display: flex;
  align-items: flex-start;
  gap: 40px;

}








.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 220px 32px;
  gap: 200px;
  background-color: var(--primary-color);
}



.cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0px;
  gap: 100px;


}
.cont p{
  color: var(--white);

}
.info{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:space-between;
  padding: 0px;
  gap: 100px;


}




.logo_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 20%;
  height: 12rem;

}

.logo_description .logo {
  display: flex;
  gap: 10px;



}
.logo_description p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.title_2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: var(--white);
}



.inf{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;


}

.try-btn{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 23px;
  
  width: 259px;
  height: 12rem;


}


.btns {
  display: flex;
  align-items:center;
  justify-content:space-between;
  width: 100%;
  gap: 60px;
  padding: 2rem;
  border-top: 1px solid #2E4E73;
}
.terms {
  display: flex;

  padding: 0px;
  gap: 20px;
}
.social_icon {
  display: flex;

  padding: 0px;
  gap: 32px;
}