.main-banner {
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: var(--primary-color);
  width: 100%;
  height: 829px;
  left: 0px;
  top: 92px;
  margin:auto;
}

.element {
  display: flex;
  align-items: center;
  justify-content:space-between;
  max-width: 100vw;
  isolation: isolate;
}


.headline{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 60px;
  color: var(--white);
  width: 656px;
  height: 361px;
  z-index: 1;
}
.headline.-content {
  color: black;
}
.headline h1{
  font-size:64px;
  weight: 700;
}

.work-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 100%;
  margin:auto;
  gap: 100px;
}
.content {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 60px;
isolation: isolate;
width: 80%;
}

.customise.-blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: var(--primary-color);
  margin:auto;
  width: 100%;
  height: 38rem;
  padding: 140px;
}

.content.-cust {
  background-color: var(--primary-color);
}

.content.-cus {
  background-color: var(--white);
}

.headline.-lets {

  align-self: center;
  justify-content:center;
}
.image-container.-custom {
  width: 60%;
}
.image-container.-custom img{
  width: 100%;
  height:100%;
}

.customise.-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: var(--white);
  margin:auto;
  width: 100%;
  height: 38rem;
  padding: 140px;
}